@use "General";

body{
    main{
        padding: 20px;
        .cuerpo{
            h1{
                margin-top: 2rem;
                text-align: center;
            }
            
            .FiltroProductos{
                margin-bottom: 20px;
                text-align: center;
                .btn{
                    background-color: rgba(224,202,57,1);
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    color: white;
                    cursor: pointer;
                    font-size: 1rem;
                
                }
                .btn:hover{
                    background-color: black;
                    color: rgba(224,202,57,1);
                }
            }
                      
            
            .ProductosFav {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: center;
            
            }
            
            .card {
                display: flex;
                max-height: 400px;
                flex-direction: column;
                background-color: transparent;
                border: 1px solid #ccc;
                color: white;
                /* Añade una transición suave al pasar el ratón */
                border-radius: 8px;
                overflow: hidden;
                transition: transform 0.3s ease, background-color 0.3 ease;
                .card-body{
                    .text-primary{
                        color: white;
                    }
                }

            }
            .mb-3{
                color: white important ;

            }

            .card-img-top{
                height: 180px;
                object-fit: contain;

            }
            
            .card:hover {
                transform: scale(1.05);/* Aumenta ligeramente el tamaño de la tarjeta al hacer hover */
                background-color: black;
                color: rgba(224,202,57,1); 
            }
            
         
            .card-body {
               flex-grow: 1;
               display: flex;
               flex-direction: column;
               justify-content: space-between;
            
            }

                  
            .btn {
                margin-top: auto;
                align-self: center;
                display: block;
                transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
                background-color: black;
                color: rgba(224,202,57,1);
                border: none;
            }
            
            /* Cambiar el color de fondo del botón cuando se pasa el ratón */
            .card:hover .btn {
                background-color:rgba(224,202,57,1);
                color: black; /* Color de fondo al hacer hover (puedes cambiarlo) */
                border: none;
            }
            
            /* Cambiar el color del texto del botón cuando se pasa el ratón */
            .card:hover .btn:hover {
                color: #fff; /* Cambiar el color del texto del botón al pasar el ratón */
            }
            
            .card-text{
                color: white;
            }

            .card-body span {
                color: white; // Aplica el color blanco directamente
                font-weight: bold; // Opcional, para resaltar
              }
              
         
        }

    }
}
  